.text_home{
    width: 800px;
    margin-left:80px;
    // border-radius: 4px;
    padding: 1.25rem 1rem;    
}

// .my_news {
//     // overflow-y: auto;
//     height: 15em;
//     width: 60em;
//     // margin-top: -10px;
//     // padding-top: 10px;
//     }
    
    
//     // .my_news::-webkit-scrollbar {
//     //     -webkit-appearance: none;
//     // }
    
//     // .my_news::-webkit-scrollbar:vertical {
//     //     width: 15px;
//     //     box-shadow: inset 0 0 5px black; 
//     //     border-radius: 10px;
//     // }
    
//     // .my_news::-webkit-scrollbar:horizontal {
//     //     height: 11px;
//     // }
    
//     // .my_news::-webkit-scrollbar-thumb {
//     //     border-radius: 10px;
//     //     border: 2px solid black; /* should match background, can't be transparent */
//     // }
    